
.card-title svg {
fill: #EDB84333;
}
.candidatename{
    font-size:22px;
    font-weight:400;
    margin-left:20px;
}
.jobheading{
        display: flex;
    justify-content: space-between;
}
.ptag {
    margin:1px;
    font-size:20px;
    margin: auto 0;
    padding: 5px 10px;
    border-radius: 5px;
}
.jobdetails{
    display: flex;
    justify-content: space-between;
}
.submenu{
 background: #0000000A;
 border-radius: 20px;
 width:fit-content;
 padding:5px 20px;
 font-size:14px;
     margin: auto 5px;
}
.submenu.active{
    background: #CEFAE0;
}

.submenuadditional{
    display: flex;
}
.applynow{
    background-color:#083262;
    border-radius: 4px;
    color:white;
    padding:6px 32px;
    float:right
}

.candidateImg{
    width:70px;
    margin-left:10px;
    border-radius:8px
}
.selectcandidatebtn{
    background-color:#083262;
    border-radius: 4px;
    color:white;
    padding:6px 32px;
    float:right;
    text-decoration: none;
}
.mobile-view{
    display:none;
}
.desktop-view{
    display:block
}
.candidatename{
   
}
.candidatelabel{
    font-size:18px;
    font-weight: 300;
}
.candidatedata{
    font-weight:600;
    font-size:18px
}

@media screen and (max-width: 576px) {
    .mobile-view{
    display:block;
    }
    .desktop-view{
    display:none;
    }
    .selectcandidatebtn{
    text-decoration: none;
    width:100%;
     margin-top:10px;
}
.card-body{
    padding:10px
}
.candidatename{
    font-size:18px;
    margin-left:10px

}
.candidatelabel{
     font-size:12px;
}
.candidatedata{
    font-size:12px;
}
}
 @media screen and (min-width: 576px)and (max-width: 768px) {
    .mobile-view{
    display:block;
    }
    .desktop-view{
    display:none;
    } 
     .selectcandidatebtn{
    text-decoration: none;
    width:100%;
    margin-top:10px;
    }
 }
@media screen and (min-width: 768px)and (max-width: 1020px) {

.selectcandidatebtn {
    background-color: #083262;
    border-radius: 4px;
    color: white;
    padding: 6px 12px;
    float: right;
    font-size: 18px;
    text-decoration: none;
}
}