
    :root {
    --font-color:#002856;
    --yellow-anchor:#EDB843; 
    --card-title:#000000;
    --sub-heading-h3:#05A3E5;
    --light-blue:#05A3E5;
    --footer-blue:#002856;
    --apply-btn: #083262;
    --p-xl-desktop:1.5rem;
    --p-desktop:16px;
    --p-mobile:14px;
    --p-tablet:15px;
    --h1-banner-desktop:60px;
    --h1-banner-tablet:34px;
    --h1-banner-mobile:32px;
    --h1-desktop:48px ;
    --h1-tablet:34px ;
    --h1-mobile:26px ;
    --h3-desktop:32px;
    --h3-tablet:28px;
    --h3-mobile:24px;
    --h5-xl-desktop:20px;
    --h5-desktop:18px;
    --h5-tablet:16px;
    --h5-mobile:14px;
    --number-count-xl-desktop:48px;
    --number-count-desktop:40px;
    --number-count-tablet:38px;
    --number-count-mobile:34px;
        }
        .logo{
            width:200px;
        }
        .navbar{
            height:100px !important;
            box-shadow: 0px 4px 40px #0000001A;
            background-color: white;
        }
         .firstsection{
            margin-top:80px;
        }
        .navbar-brand{
            width:300px;
        }
        .bannercontent{
            /* padding:100px 0 */
        }
        .navbar-collapse{
            flex-grow: 1;
            flex-basis: 100%;
            margin-left: -5%;
            /* height:100vh; */
           
            align-items: center;
            margin-right: -5%;
            padding: 30px 50px;
        }
        .navbar-expand-lg .navbar-nav .nav-link{
            padding:0 20px;
            font-size:18px;
            font-weight: 500;
            margin:12px 0px;
        }
    body{
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }
    section{
         padding:60px 0px;
    }
    .heading{
        font-weight:500;
        font-size:var(--h3-desktop);
        color: var(--font-color);
    }
    .jobprofile .card img {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 20px
    }
     .sectionbtn{
        background-color: var(--yellow-anchor);
        font-weight: bold;
        padding: 12px 36px;
     }
     .sectionbtn:hover{
        background-color: var(--yellow-anchor);
    }
    .banner{
        padding:0 !important
    }
    .card-text{
        font-size:var(--p-desktop);
    }
    /* .navbar .nav-item .nav-link{
            font-size: 16px;
            font-weight: 600;
            margin-left:40px
    }
    .navbar-nav{
        padding-left: 100px;
    } */
    .banner .container{
        margin-top:200px;
    }
    .banner img{
        width:100%;
        /* height:498px; */
        float: right;
        /* margin-top:198px; */
    }
    .bannercontent p {
        margin-top:20px;
        font-size:20px
    }
    /* .bannerbelow h1{
        font-weight:200 !important;
        font-size: 32px;
          color:var(--font-color);
    } */
    .bannerbelow p{
        font-size:18px;
        font-weight:400
    }
    p{
        color:var(--font-color);  
    }
  
    .countsection .counting{
        border-left :1px solid #B1D6FF;
    }
    .left-right .sideimages{
        text-align: right;
    }

    .left-right p{
        font-size: 16px;
        line-height: 24px;
         font-weight:400;
         margin-top:25px;
         margin-bottom:25px;
    }
      .right-left p{
        font-size: 16px;
        line-height: 24px;
        font-weight:400;
        margin-top:25px;
          margin-bottom:25px;
    }
    .right-left .sideimages{
        text-align: left;
    }
    .sideimages img{
        border-radius:10px;
    }
    .left-right .sideimages img{
        border-radius:10px;
        padding-left: 50px;
    }
    .right-left .sideimages img{
        border-radius:10px;
        padding-right: 50px;
    }
    .left-right .heading{
        font-weight:500;
        font-size:var(--h1-desktop);
        line-height:60px
    }
     .right-left .heading{
        font-weight:500;
        font-size:var(--h1-desktop);
        line-height:60px
    }
    section .alink{
        color:var(--yellow-anchor);
        padding:40px 0 !important;
        font-size:18px;
        line-height: 24px;
        text-decoration: none;
    }
    section p{
        font-size:18px;
        /* line-height:18px; */
    }
    .jobprofile .headings{
        text-align: center;
        color:var(--font-color);
    }
    .jobprofile .card-text .bx{
        color: var(--yellow-anchor) !important;
    }
    
    .jobprofile .headings h1{
        font-weight: 500;
    }
    .headings h5{
        color:var(--sub-heading-h3);
        font-size:var(--h5-xl-desktop)
    }
    .jobsearch .headings{
        text-align: center;
        color:var(--font-color);
    }
     .stepsearch .headings{
        text-align: center;
        color:var(--font-color);
    }
    .stepsearch .step2{
            margin: 2px auto 6px auto;
            background: white;
            width: fit-content;
            padding: 0 20px;
    }
   
    .jobsearch .headings h3{
        font-size:34px;
        font-weight: 500;
    }
    .jobprofile .card {
        flex-direction: row;
            box-shadow: 2px 4px 16px 6px #e5e5e5;
            border-radius:15px;
    }
    /* .jobprofile .card img {
        width: 240px;
        height: 260px;
        padding:15px;
        border-radius:30px;
    } */
    .applybtn {
        background-color: var(--yellow-anchor);
        width:100%;
        padding:4px;
      
    }
    .applybtn:hover{
         background-color: var(--yellow-anchor);
  
    }
    .card-text{
        margin-bottom:5px
    }
    .jobprofile .eligible{
            font-size: var(--p-desktop);
            color: var(--yellow-anchor);
            margin-bottom: 10px !important;
            margin-top: 2px;
    }
     .jobprofile .eligible i{
        font-size:12px 
    }
    .card-title{
        font-size:var(--h5-xl-desktop);
        margin:20px  0 20px 0 ;
       color:var(--card-title);
       font-weight:600;

    }
    .card-detail{
            /* position: absolute;
            bottom: 25px; */
    }
    .stepshow{
        display:flex;
        flex-direction: row;
    }
    .stepshow hr{
        width:200px;
        margin: 10px 20px;
        align-items: center;
         border: none;
        height: 3px;
        color: #333; 
        background-color: #333; 
    }
    .stepshow h4{
        color:var(--sub-heading-h3);
        font-weight:500;
    }
    .stepsearch hr{
        position:absolute;
        top:15px;
        left:25%;
        width:50%;
        z-index:-1
    }
    .testimonial .card-group>.card{
        margin:5px !important;
        border:1px solid #c1c1c1;
        border-radius:10px
    }
    .testimonial-img{
        width:50px;
        border-radius: 50%;
    }
    .testimonial .card-footer{
        display: flex;
        border-top: none;
        padding: 10px 15px;
    }
    .testimonial .card-footer img{
        width:50px;
        height:50px
    }
    .testimonial .card-footer ul{
        margin-left:20px
    }
    .testimonial li:first-child{
        color:var(--font-color);
        font-weight:bold
    }
    .blog .card-categ{
        color: var(--yellow-anchor);
        font-size:14px;
    }
    .blog .card-title{
        color: var(--font-color);
        font-size:16px;
    }
     .blog .card-footer{
        display: flex;
        padding: 10px;
        border-top: none;
        background-color: white;
    }
    .blog .card-footer img{
        width:50px;
        height:50px
    }
    .blog .card-footer ul{
        margin-left:20px
    }
    .podcast{
        background:#002856;
        color:white;
    }
    .podcast p{
        color:white;
    }
    .podcast h6{
        color:var(--light-blue);
    }
   
    .bannercontent h1{
        font-size: var(--h1-banner-desktop);
        color:var(--font-color);
    }
    .bannercontent p{
        font-size:16px;
        line-height: 24px;
    }
    .bannercontent .btn {
        padding: 16px 48px;
        border-radius: 12px;
        width:294px
    }
    .bannercontent .btn:hover{
        color:white;
        /* background: var(--yellow-anchor); */
    }
    
    /* Start Accordion class */
            jobsearch .accordion {
                padding: 10px 31px;
                width: 100%;
            }
           
            .accordion-item{
                border:none !important;
                width:100%
            }
            .accordion .accordion-item button[aria-expanded=true] {
            border-bottom: 1px solid #03b5d2;
            }
            .accordion button {
            position: relative;
            display: block;
            text-align: left;
            width: 100%;
            padding: 12px ;
            color: #7288a2;
            font-size: 1.15rem;
            font-weight: 400;
            border: none;
            background: none;
            outline: none;
            }
            .accordion button:hover, .accordion button:focus {
            cursor: pointer;
            color: #03b5d2;
            }
            .accordion button:hover::after, .accordion button:focus::after {
            cursor: pointer;
            color: #03b5d2;
            border: 1px solid #03b5d2;
            }
            .accordion button[aria-expanded=true] + .accordion-content {
                border: 1px solid  #03b5d2;
                background:rgb(207 236 240 / 24%);
            }
            .accordion button .accordion-title {
            padding: 1em 1.5em 1em 1.5em;
            font-size:20px
            }
            .accordion button .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0px;;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;
            }
            .accordion button .icon::before {
            display: block;
            position: absolute;
            content: "";
            top: 9px;
            left: 5px;
            width: 10px;
            height: 2px;
            background: currentColor;
            }
            .accordion button .icon::after {
            display: block;
            position: absolute;
            content: "";
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: currentColor;
            }
            .accordion button[aria-expanded=true] {
            color: #03b5d2;
            }
            .accordion button[aria-expanded=true] .icon::after {
            width: 0;
            }
            .accordion button[aria-expanded=true] + .accordion-content {
            opacity: 1;
            max-height: 100%;
            transition: all 200ms linear;
            will-change: opacity, max-height;
            }
            .accordion .accordion-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;
            }
            .accordion .accordion-content p {
            font-size: 1rem;
            font-weight: 300;
            margin: 2em 0;
            }
            .accordion-content .desc{
                padding:20px 10px;
            }
            .faq .accordion-content .desc{
                padding:20px 20px;
            }
            .faq .accordion .accordion-content p {
            font-size: 1rem;
            font-weight: 300;
            margin: 1em 1em;
            }
            .accordion-content .desc li{
                /* padding:10px; */
                font-size:16px
            }
            .jobsearch .image-container img{
                /* width:300px; */
                border-radius:10px;
            }
            .accordion-content .jobsearch_image{
              border-radius:20px;  
            }

    /* End Accordion css*/
    .faq .accordion-title{
        color:var(--font-color);
    }
    .podcast iframe {
        width: 100%;
        min-height: 350px;
        border-radius: 10px;
    }
    .desktop-view-img{
            display:block;
        }
        .mobile-view-img{
            display:none;
            
        }
         .mobile-view{
            display: none;
        }
        .desktop-view{
            display: block;
        }
       
        .footer{
            background-color: var(--footer-blue);
            color:white
        }
        .footer .desc{
            padding:20px
        }
        .footer p{
            color:white;
            font-size: 18px;
                /* text-align: justify; */
        }
        .footer h2{
            margin-bottom:20px
        }
        .footer a{
            text-decoration: none;
            color:white
        }
        .jobprofile .card{
                margin: 5px;
            }
            .mobile-view .sectionbtn{
                background-color: var(--yellow-anchor);
            font-weight: bold;
            text-align: center;
            width: fit-content;
            border-radius: 8px;
            padding: 5px 30px !important;
            }
            
        
        
            .d-flex {
                display: flex !important;
              }
              
              .h-100 {
                height: 100% !important;
              }
              .countstep {
                margin-bottom: 10px;
                background: white;
              }
              .jobmobile{
                justify-content: center;
              }
            
            .card-detail{
                display: flex; flex-direction: column; 
                    justify-content: flex-end;
            }
            .card-footer{
                border-top: none !important;
                background: white !important;
                padding:0px
            }   
            .jobprofileimg{
                width:100%;border-radius:15px;height:100%;max-height: 260px;
            }
            .bannerbelow h1{
                font-weight:200 !important;
                font-size: var(--number-count-xl-desktop);
                  color:var(--font-color);
            }
@media screen and (max-width: 576px) {
            .logo{
                width:150px;
            }
            .bannercontent {
                /* padding: 20px 0; */
            }
            .jobprofileimg{
                width:100%;border-radius:15px;height:100%;max-height: 260px;
            }
         .navbar{
            height:70px !important;
        }
        .navbar-brand {
            width:fit-content
        }
        .navbar-collapse {
            
        }
        .navbar>.container{
            justify-content: space-between;
        }
         .left-right .sideimages img {
        padding-left:0;
        }
        .right-left .sideimages img {
            padding-right: 0px;
        }
        .mobile-view{
            display: block;
        }
        .desktop-view{
            display: none;
        }
        p{
            text-align: justify;
        }
        .mobilestep{
            margin:10px 0;
        }
        .card-text {
            font-size: var(--p-mobile);
        }
        .jobprofile .card img{
                width: 80px;
                height: 80px;
            }
        .bannercontent h1 {
            font-size: var(--h1-banner-mobile) !important;
        }
        .banner .container {
            margin-top: 100px;
        }
        .bannercontent .btn {
            padding: 9px 15px;
            border-radius: 12px;
            width: 147px;
        }
        .banner img {
            width: 330px;
            margin-top: 20px;
            height: 280px;
            float: right;
        }
        .bannerbelow {
            padding:50px 30px;
        }
        .left-right .sideimages {
            text-align: left;
        }
        .countsection .counting {
            margin: 10px 10px;
        }
        .heading {
            font-size: var(--h3-mobile);
        }
        .left-right .heading {
        font-weight: 500;
        font-size: var(--h1-mobile);
        line-height: 30px;
        }
        .right-left .heading {
        font-weight: 500;
        font-size: var(--h1-mobile);
        line-height: 30px;
        }

        .left-right p {
            font-size: var(--p-mobile);
            line-height: 22px;
            font-weight: 400;
            margin: 25px 1px 8px;
        }
        .right-left p {
            font-size: var(--p-mobile);
            line-height: 22px;
                    margin: 25px 1px 8px;
        }
        .sideimages img {
            border-radius: 10px;
            width: 100%;
            /* height: 300px; */
        }
        .desktop-view-img{
            display:none;
        }
        .mobile-view-img{
            display:block;
            
        }
        .mobileimg{
            margin-top: 20px;
            border-radius: 10px;
            width: 95%;
            height: 253px;
            margin-bottom: 20px;
        }
        
        section {
            padding: 15px 0px;
        }
        .sideimages img{
            margin-top:20px;
            text-align: center;
        }
        
        .post-slide {
            background: #fff;
            margin: 7px 7px 15px;
                height: auto !important;
        }
        section p {
            font-size: var(--p-mobile);
            }
            .jobprofile .card img {
              /* width: 120px;
            height: 150px;
            padding: 6px;
            border-radius: 15px; */
            }
            .card-title{
                margin: 20px 0 8px 0;
                font-size: 16px;
            }
            .jobprofile .card{
                margin:5px;    
            }
            .card-detail {
                /* position: absolute;
                bottom: 8px; */
            }
            .card-text {
                        font-size: 12px;
                margin-bottom: 2px;
            }
            .applybtn {
                background-color: var(--yellow-anchor);
                margin-top: 9px;
            }
            .jobprofile .eligible {
                    font-size: 12px;
                }
            .jobsearch .headings h3 {
                font-size: var(--h3-mobile);
            }
            .stepsearch .card{
                /* margin:5px; */
                margin-left:50px
            }
            .stepsearch hr{
                    -webkit-transform: rotate(90deg);
                    left: -37%;
                    top: 35%;
                    width: 100%;
                }
            .testimonial h1{
                font-size:var(--h1-mobile);
                 color:var(--font-color);
            } 
            .card-group{
                    display: grid;
                    justify-content: center;
            }  
            .blog .card{
                margin:5px;
            }
             .jobsearch .accordion{
                padding: 10px ;
             }
             .accordion button .accordion-title {
                padding: 1em 1.5em 1em 0;
                font-size: 14px;
             }
             .accordion-content .desc li {
                font-size:14px
             }
            .accordion button {
                width: 90%;
            }
            .accordion-content img{
                width:100%;
                border-radius: 20px;
            }
            .accordion .accordion-content p
                {
                    font-size: 14px;
                    font-weight: 300;
                    margin: 1em 14px 10px;
                }
                    .podcast iframe {
                        width: 100%;
                        min-height: 240px;
                    }
                .jobprofile .card-body{
                    padding: 10px 4px;
                }
                .applybtn {
                            background-color: var(--yellow-anchor);
                            margin-top: 9px;
                            font-size: 12px;
                            padding: 3px 14px;
                            /* float:right */
                }
                .jobprofile .card-title {
                    margin: 2px 0 0px 0;
                    font-size: var(--h5-mobile);
                }
                .applybtn {
                    margin-top: 0px !important;
                }
                .stepsearch .step2 {
                    margin: 2px auto 6px auto;
                    background: white;
                    width: fit-content;
                    text-wrap: nowrap;
                    padding: 20px 0px;
                }
                .countstep{
                    text-wrap: nowrap;
                    color: var(--light-blue);
                    font-size: 18px;
                    margin-top: 30px;
                    position: absolute;
                    left:0;
                    padding:10px 0;
                    background-color: white;
                }
                .navbar-collapse{
            height:100vh;
        }
        .headings h5{
            color:var(--sub-heading-h3);
            font-size:var(--h5-mobile)
        }
        h1{
             color:var(--font-color);
        }
        .podcast h1{
            color:white;
        }
        .bannerbelow p
    {
        font-size:var(--p-mobile);
    }
    .faq .accordion-content .desc {
        padding: 10px 10px;
    }
    .faq .accordion .accordion-content p {
        margin: 1em 0em;
    }
    
    .testimonial .card-footer ul{
        margin-left:8px
    }
    .footer p {
        color: white;
        font-size: var(--p-mobile);
    }
    .bannerbelow h1{
        font-weight:200 !important;
        font-size: var(--number-count-mobile);
          color:var(--font-color);
    }
}
@media screen and (min-width: 576px)and (max-width: 768px) {
    .bannercontent{
    padding: 0px;
    }
    .logo{
        width:160px;
    }
    .navbar{
            height:70px !important;
        }
        .navbar-brand {
            width:fit-content
        }
        /* .navbar-collapse {
           
        } */
    .left-right .sideimages img {
        padding-left:0;
    }
     .right-left .sideimages img {
            padding-right: 0px;
        }
    .headings h5{
        color:var(--sub-heading-h3);
        font-size:var(--h5-tablet)
    }
    .mobile-view{
            display: block;
        }
        .desktop-view{
            display: none;
        }
        .mobile-view-img{
            display:none ;
            
        }
    
        .jobprofileimg{
            width:100%;border-radius:15px;height:100%;max-height: 90px;
        }
        .accordion button .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0px;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;
        }
        .accordion button .accordion-title {
            padding: 1em 1.5em 1em 0;
            font-size: 22px;
        }
        section
        {
            padding: 40px 0px;
        }
    .sideimages img {
        border-radius: 10px;
        /* width: 299px ;
        height:350px; */
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
    .bannercontent h1 {
    font-size: var(--h1-banner-desktop);
    }
    .bannercontent .btn {
    padding: 9px 29px;
    border-radius: 12px;
    width: 160px;
    }
    .banner .container {
        margin-top: 100px;
        /* margin-bottom: 20px; */
    }
     .sideimages img{
        border-radius:10px;
        /* width: 340px !important; */
    }
      .jobprofile .card img {
               /* width: 145px;
        height: 160px;
        padding: 12px;
        border-radius: 25px; */
    }
        .jobprofile .card-detail {
        /* position: absolute;
        bottom: 10px; */
        }
        .jobprofile .card-text {
            /* margin-bottom: 0px; */
        }
    iframe{
        width:350px;
        border-radius: 15px;
    }
    .card-title{
        margin:0  0 5px 0 ;
        font-size: var(--h5-tablet);
    }
    .card-detail p{
        font-size:var(--p-tablet);
    }
    .applybtn{
        font-size: 14px;
        padding: 3px 12px;

    }
        .countsection .counting {
        border-left: 1px solid #B1D6FF;
        text-align: center;
        /* margin: 5px !important; */
        max-width: 350px;
    }
    .heading {
        /* font-weight: 500; */
        font-size: var(--h3-tablet)
    }
    .bannerbelow p
    {
        font-size:var(--p-tablet);
    }
    .left-right .heading {
        font-weight: 500;
        font-size: var(--h1-tablet);
        line-height:60px
    }
    .right-left .heading {
    font-weight: 500;
    font-size: var(--h1-tablet);
    line-height: 60px;
    }
    .left-right p{
            font-size: var(--p-tablet);
            line-height: 24px;
            font-weight: 400;
            margin-top: 14px;
            margin-bottom: 20px;
    }
    .right-left p{
            font-size: var(--p-tablet);
            line-height: 24px;
            font-weight: 400;
            margin-top: 14px;
            margin-bottom: 20px;
    }
    section p {
    font-size: 18px;
    }
    .jobsearch .headings h3 {
    font-size: 22px;
    }
    .process{
        padding:20px;
    }
    .stepshow{
        display:flex;
        flex-direction: column;
    }
     .stepsearch .countstep{
        font-size:22px;
    background: white;
        padding: 2px 20px;
    }
    .stepsearch hr{
        /* -webkit-transform: rotate(90deg); */
        /* left: -37%; */
        top: 10px;
        width: 50%;
    }
    .step2{
        padding:0px 20px !important
    }
    .stepsearch .card{
        margin:5px;
    }
    .stepsearch .card img{
        height:100%;
    }
  
    .card-group{
        display:grid;
        justify-content: center;
    }
    .accordion-title{
        font-size:14px
    }
    .card{
        margin:5px;
    }
    .faq .accordion-content .desc {
        padding: 0px 20px;
    }
    .accordion .accordion-content p {
        font-size: 1rem;
        font-weight: 300;
        margin: 1em  0;
    }
    .countsection{
        justify-content: center;
    }
    .countstep{
        display: block;
        align-items: stretch;
    }
    .stepsearch .card-body h4{
        font-size:20px
    }
    .jobprofile .card-body{
            /* padding: 15px 0px 9px 0px; */

    }
    .owl-controls .owl-buttons .owl-prev{
           
            left:0px;
           
        }
        .owl-controls .owl-buttons .owl-next{
          
            right: 0px;
           
        }
        .footer p {
            color: white;
            font-size: var(--p-tablet);
        }
        .bannerbelow h1{
            font-weight:200 !important;
            font-size: var(--number-count-tablet);
              color:var(--font-color);
        }
}
@media screen and (max-width: 990px) {
           .navbar-collapse  {
            background: #ffffff;
             height: 100vh !important;
           }
}
 @media screen and (min-width:768px) and  (max-width: 990px) {
        .bannercontent{
        padding: 0px;
        }
         .navbar-collapse {   
            margin-left: -15% !important;
            margin-right: -15% !important;
              height: 100vh;
                  padding: 30px 100px !important;
            }
            .banner .container{
            margin-top:150px !important;
            }
            .bannercontent h1 {
                font-size: 38px;
            }
            .left-right .heading {
                font-weight: 500;
                font-size: var(--h1-tablet);
                line-height: 40px;
            }
            .right-left .heading {
                font-weight: 500;
                font-size: var(--h1-tablet);
                line-height: 40px;
            }
            .left-right p{
                font-size: var(--p-tablet);
            }
            .right-left p{
                font-size: var(--p-tablet);
            }

        }
@media screen and (min-width: 769px)and (max-width: 1024px) {
    .bannerbelow h1{
        font-weight:200 !important;
        font-size: var(--number-count-desktop);
          color:var(--font-color);
    }
        .mobile-view{
                display: block;
            }
        .desktop-view{
            display: none;
        }
        .jobprofile .card img {
            width: 220px;
            height: 100%;
            padding: 10px;
            border-radius: 20px
        }
        .jobprofile .card{
            min-height: 205px;
        }
        .jobprofile .card .card-body{
            padding:10px 5px
        }
        .card-title {
            font-size: var(--h5-desktop);
            margin: 5px 0 20px 0;
        }
        section p {
            font-size:20px;
        }
        .jobprofile .eligible {
            margin-bottom: 8px !important;
        }
        .accordion button .icon {

            right: 0px;
        }
        .accordion-content .desc li {
            font-size: 14px;
        }
        .jobprofileimg{
            width:100%;border-radius:15px;height:100%;max-height: 90px;
        }
        
}
@media screen and (min-width: 1440px){
    .right-left p{
    font-size:var(--p-xl-desktop);
    line-height: 36px;

    }
    .left-right p{
    font-size:var(--p-xl-desktop);
    line-height: 36px;

    }

}



@keyframes slideRight {
  0% {
    transform: translateX(-150px); /* Start from left */
  }
  100% {
    transform: translateX(0px); /* Move to right */
  }
}

.slide-left-to-right {
  /* display: inline-block; */
  /* animation: slideRight 1s forwards;  */
  width:100%;
}
@keyframes slideLeft {
  0% {
    transform: translateX(150px); /* Start from right */
  }
  100% {
    transform: translateX(0px); /* Move to left */
  }
}

.slide-right-to-left {
  
  /* animation: slideLeft 1s forwards;  */
  width:100%;
} */



/* owl slider css start*/
        .applybtn{
            margin-top:10px
        }
        .post-slide {
            background: #fff !important;
            margin: 20px 15px 20px !important;
            border-radius: 15px !important;
            /* height: 100%; */
            padding-top: 1px !important;
            box-shadow: 1px 2px 16px 0px #bbcbd8 !important;
            height: 90% !important;
            justify-content: space-between !important;
    
        }
        .post-slide .post-img{
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin: -12px 15px 8px 15px;
            margin-left: -10px;
        }
        .post-slide .post-img img{
            width: 100%;
            height: auto;
            transform: scale(1,1);
            transition:transform 0.2s linear;
        }
        .post-slide:hover .post-img img{
            transform: scale(1.1,1.1);
        }
        .post-slide .over-layer{
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            opacity:0;
            background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
            transition:all 0.50s linear;
        }
        .post-slide:hover .over-layer{
            opacity:1;
            text-decoration:none;
        }
        .post-slide .over-layer i{
            position: relative;
            top:45%;
            text-align:center;
            display: block;
            color:#fff;
            font-size:25px;
        }
        .post-slide .post-content{
            background:#fff;
            padding: 20px 20px 40px;
            border-radius: 15px;
        }
        .post-slide .post-title a{
            font-size:15px;
            font-weight:bold;
            color:#333;
            display: inline-block;
            text-transform:uppercase;
            transition: all 0.3s ease 0s;
        }
        .post-slide .post-title a:hover{
            text-decoration: none;
            color:#3498db;
        }
        .post-slide .post-description{
            line-height:24px;
            color:#808080;
            margin-bottom:25px;
        }
        .post-slide .post-date{
            color:#a9a9a9;
            font-size: 14px;
        }
        .post-slide .post-date i{
            font-size:20px;
            margin-right:8px;
            color: #CFDACE;
        }
        .post-slide .read-more{
            padding: 7px 20px;
            float: right;
            font-size: 12px;
            background: #2196F3;
            color: #ffffff;
            box-shadow: 0px 10px 20px -10px #1376c5;
            border-radius: 25px;
            text-transform: uppercase;
        }
        .post-slide .read-more:hover{
            background: #3498db;
            text-decoration:none;
            color:#fff;
        }
        .owl-controls .owl-buttons{
            text-align:center;
            margin-top:20px;
        }
        .owl-controls .owl-buttons .owl-prev{
            background: #fff;
            position: absolute;
            top:40%;
            left:-15px;
            padding: 0 10px 0 10px;
            border-radius: 50%;
            box-shadow: 1px 2px 8px 5px #92b4d0;
            transition: background 0.5s ease 0s;
        }
        .owl-controls .owl-buttons .owl-next{
            background: #fff;
            position: absolute;
            top:40%;
            right: -15px;
            padding: 0 10px 0 10px;
            border-radius: 50%;
            box-shadow: 1px 2px 8px 5px #92b4d0;
            transition: background 0.5s ease 0s;
        }
        .owl-controls .owl-buttons .owl-prev:after,
        .owl-controls .owl-buttons .owl-next:after{
            content:"\f104";
            font-family: FontAwesome;
            color: #333;
            font-size:18px;
        }
        .owl-controls .owl-buttons .owl-next:after{
            content:"\f105";
        }
        /* @media only screen and (min-width:1020px) {
            .post-slide .post-content{
                padding: 25px 15px 25px 15px;
            } */
            /* .card-text {
                font-size: var(--p-tablet);
            } */
        /* } */
/*  owl slider end*/
